<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Who is Qais?" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Jamili History:</strong></h1>
        <p class="text-secondary">My name is Ahmad Qais Jamili. I was named Qais by my mother and Ahmad by my dad. I like the name Qais better because it is unique. I was born in Munich, Germany on January 19 2007. I am 15 years old soon to be 16. I like fashion, going to the gym, and being with my family. School is fun too sometimes but I prefer being home. I dislike homework because of how long it takes and because it is majorly boring. I want to be a surgeon one day or maybe an architect.</p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
