<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Who is Qais?" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Project Plan</strong></h1>

        <h1 class="text-primary"><strong>Main Function</strong></h1>
        <p class="text-secondary">The main function of this website is to represent who we are aswell as creating a snake game. We want to give brief backgrounds of who we are and why we made the game. The snake game will be a fun little way to explore the world of computer science.</p>
        <h1 class="text-primary"><strong>Outline</strong></h1>
        <p class="text-secondary">First we will type about our interests in video games
                                  Second we will discuss what features to include in the game
                                  Third we will take the on the process of creating the game as a team</p>
     
     
 <h1 class="text-primary"><strong>College Board Criteria</strong></h1>
 1. Program Purpose and Function
 2. Data Abstraction
 3. Managing Complexity
 4. Procedural Abstraction
 5. Algorithm Implementation 
 6. Testing

    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
